
.vs/Melody/FileContentIndex/

.vs/Melody/v17/.suo

.vs/ProjectEvaluation/

.vs/Melody/DesignTimeBuild/.dtbcache.v2

.vs/Melody/v17/.futdcache.v2

.vs/Melody/v17/

MelodyAPI/bin/Debug/net6.0/

MelodyAPI/bin/Debug/net8.0/

*.dll

MelodyContext/obj/Debug/net8.0/

MelodyContext/obj/Release/net8.0/

MelodyDb/obj/Debug/

Repositories/bin/Debug/net6.0/

*.pdb

*.cache

Repositories/obj/

Services/obj/Release/net8.0/

Services/obj/

*.BuildWithSkipAnalyzers

YouTubeAPI/obj/Debug/net8.0/

YouTubeAPI/obj/Release/net8.0/

YouTubeAPI/obj/

MelodyAPI/obj/Debug/net6.0/

MelodyAPI/obj/Debug/net8.0/

MelodyAPI/obj/

MelodyContext/bin/Debug/net8.0/

MelodyContext/bin/Release/net8.0/

MelodyContext/obj/Debug/net6.0/

MelodyContext/obj/

*.dacpac

*.dbmdl

MelodyDb/MelodyDb.jfm

Repositories/bin/Debug/net8.0/

Repositories/bin/Release/net8.0/

Services/bin/Debug/net6.0/

Services/bin/Debug/net8.0/

Services/bin/Release/net8.0/

YouTubeAPI/bin/Debug/net6.0/

YouTubeAPI/bin/Debug/net8.0/

YouTubeAPI/bin/Release/net8.0/
